#wrapper{width: 980px; height: auto;margin: 0 auto;}
#header{width:auto;height: 200px;background: blue;}
#content{width:auto;height: 800px;background: red;}
#footer{width:auto;height: 200px;background: yellow;}